# Solidity / Hardhat
artifacts/
cache/
coverage/
coverage.json
typechain/
typechain-types/

# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.enc
.env.local
.env.*.local

# Build files
dist/
build/
deployments/

# Test files
coverage/
coverage.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# other files
memo.md