# Solidity / Hardhat
artifacts/
cache/
coverage/
coverage.json
typechain/
typechain-types/

# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.*.local

# Build files
dist/
build/
deployments/

# Test files
coverage/
coverage.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
